# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
wheels/


# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Environments
.env
.venv


# mypy
.mypy_cache/


# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.DS_Store
.vscode/launch.json
