{% extends "base.html" %}
{% load cookie_consent_tags %}

{% block content %}
    {% if request|cookie_group_accepted:"optional" or request|cookie_group_declined:"optional" %}
    <div id="flashcards">
        <h1>Flashcards</h1>
        {% if request.user.is_authenticated %}
            <p>Use the form below to start a new flashcards session:</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Start!"></p>
            </form>
        {% else %}
            <p>To use Flashcards and track your session history, <a href="{% url "library:login" %}">login</a> or 
                <a href="{% url "library:register" %}">create an account</a></p>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}